
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<form method="post">
    <div class="container">
        <br />
        <label>Kullanıcı Adı:</label>
        <br />
        <input type="email" class="txt text-primary" name="EmployeeMail" />
        <br />
        <br />
        <label>Şifre:</label>
        <br />
        <input type="password" name="EmpyloyeePassword" />
        <br />
        <input type="checkbox" class="action" /> Beni Hatırla
        <br />
        <br />
        <button class="btn btn-success">Giriş</button>
    </div>
</form>