@model List<ankaraProje.Models.TblMessage>

@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Gelen kutusu</h2>

<table>
    <tr>
        <th>#</th>
        <th>Gelen</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Mesajı Aç</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MessageID</td>
            <td>@item.SenderMessage</td>
            <td>@item.Subject</td>
            <td>@item.MessageDate</td>
            <td><a href="/Message/MessageDetails/@item.MessageID" class="btn btn-dark">Mesajı Aç</a></td>
        </tr>
    }


</table>
